@model IEnumerable<RescateEmocional.Models.Administrador>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdrolNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdrolNavigation.Idrol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idadmin">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idadmin">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idadmin">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
