@model IEnumerable<RescateEmocional.Models.Diario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h1 class="text-center my-4"><i class="fas fa-users-cog"></i> Buscar Administradores</h1>
<div class="d-flex justify-content-center">
    <form asp-action="Index" class="bg-light p-4 rounded shadow-sm w-50">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"><i class="fas fa-user"></i> Titulo</label>
                    <input type="text" name="Titulo" class="form-control" placeholder="Ingrese el Titulo" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"><i class="fas fa-envelope"></i>contenido</label>
                    <input type="text" name="Contenido" class="form-control" placeholder="Ingrese el correo" />
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"><i class="fas fa-sort-numeric-up"></i> Cant. Registros</label>
                    <select name="topRegistro" class="form-control">
                        <option selected value="10">10</option>
                        <option value="20">20</option>
                        <option value="60">60</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                        <option value="0">Todos</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-2">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Buscar</button>
                <a class="btn btn-success" asp-action="Create"><i class="fas fa-user-plus"></i> Ir a crear</a>
            </div>
        </div>
    </form>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contenido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdusuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contenido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdusuarioNavigation.Idusuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Iddiario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Iddiario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Iddiario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
