@model IEnumerable<RescateEmocional.Models.Diario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contenido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdusuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contenido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdusuarioNavigation.Idusuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Iddiario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Iddiario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Iddiario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
