@model IEnumerable<RescateEmocional.Models.Diario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h1 class="text-center my-4"><i class="fas fa-users-cog"></i> Buscar Administradores</h1>
<div class="d-flex justify-content-center">
    <form asp-action="Index" class="bg-light p-4 rounded shadow-sm w-50">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"><i class="fas fa-user"></i> Titulo</label>
                    <input type="text" name="Titulo" class="form-control" placeholder="Ingrese el Titulo" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"><i class="fas fa-envelope"></i>contenido</label>
                    <input type="text" name="Contenido" class="form-control" placeholder="Ingrese el correo" />
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"><i class="fas fa-sort-numeric-up"></i> Cant. Registros</label>
                    <select name="topRegistro" class="form-control">
                        <option selected value="10">10</option>
                        <option value="20">20</option>
                        <option value="60">60</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                        <option value="0">Todos</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-2">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Buscar</button>
                <a class="btn btn-success" asp-action="Create"><i class="fas fa-user-plus"></i> Ir a crear</a>
            </div>
        </div>
    </form>
</div>


<!-- Contenedor para DataTables -->
<div class="table-responsive mt-4">
    <table id="tablaAdministradores" class="table table-borderless">
        <thead style="display: none;">
            <tr>
                <th>Administradores</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="card border-info mb-3" style="width: 90%; max-width: 600px; margin: auto;">
                            <div class="card-header text-center bg-info text-white">
                                <strong><i class="fas fa-user-shield"></i> @item.Titulo</strong>
                            </div>
                            <div class="card-body text-center">
                                <p><strong><i class="fas fa-envelope"></i> Fecha de creacion:</strong> @item.FechaCreacion</p>
                                <div class="d-flex justify-content-center gap-2">
                                    <a asp-action="Edit" asp-route-id="@item.Iddiario" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> Editar</a>
                                    <a asp-action="Details" asp-route-id="@item.Iddiario" class="btn btn-info btn-sm"><i class="fas fa-info-circle"></i> Detalles</a>
                                    <a asp-action="Delete" asp-route-id="@item.Iddiario" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tablaAdministradores').DataTable({
                "paging": true, // Es lo que habilita la paginacion
                "ordering": false, // Permite ordenar por columnas
                "searching": false, // Oculta la barra de búsqueda
                "lengthChange": false, // Oculta el "Mostrar X registros"
                "language": languageTable
            });
        });
    </script>
}
